#all intermediate files
#Analysis/02_RNAseq_CaseStudy/de_novo/
#but not configuration, scripts or README
!config_file
!*.sh
!README
!samples_described
#not setup files
#!Analysis/02_RNAseq_CaseStudy/de_novo/setup_files

#all reference files
Analysis/02_RNAseq_CaseStudy/genome_guided/Reference/

#all software
Analysis/Software/

# singularity images
*.sif

# sequence files
*.fq
*.fasta
*.fastq
*.fa

# job logs
*.o*
*.log

# Velvet files
oases*
