#all intermediate files
#but not configuration, scripts or README
!config_file
!*.sh
!README
!samples_described

#all reference files
Analysis/02_RNAseq_CaseStudy/genome_guided/Reference/

#all software
#Analysis/Software/

# singularity images
*.sif
*.simg

# sequence files
*.fq
*.fasta
*.fastq
*.fa

# sam and bam files
*.sam
*.bai
*.bam

# zip files
*.gz

# job logs
*.o*
*.log
*.summary
